---
import Friend1 from "../assets/clients/furfocus.png";
import Friend2 from "../assets/clients/HDYF.png";
import Friend3 from "../assets/clients/dogoowo.png";
import Friend4 from "../assets/clients/mokre-lapy.png";
import Friend5 from "../assets/clients/pieskolandia.png";
import Friend6 from "../assets/clients/coape.png";
import Friend7 from "../assets/clients/alteri.png";

import { Image } from "astro:assets";
---

<!-- Clients -->
<div class="mx-auto">
  <!-- Title -->
  <div class="mx-auto text-center mb-10">
    <h2 class="text-base text-primary dark:text-accent-100">
      Współpracuję z ludźmi, którym zależy.
    </h2>
  </div>
  <!-- End Title -->

  <div class="flex flex-wrap justify-center gap-x-4">
    <a
      href="https://coape.pl/" target="_blank"
      class="flex items-center justify-center p-6 dark:bg-accent-100 rounded-[7px]"
    >
      <Image
        class="max-h-[45px] w-auto"
        src={Friend6}
        alt="Coape"
        inferSize={true}
      />
    </a>

    <a
      href="https://www.facebook.com/sdpAlteri/" target="_blank"
      class="flex items-center justify-center p-6 dark:bg-accent-100 rounded-[7px]"
    >
      <Image
        class="max-h-[100px] w-auto"
        src={Friend7}
        alt="Alteri"
        inferSize={true}
      />
    </a>

    <a href="https://www.facebook.com/FurFocusPortretyZwierzat" target="_blank"
      class="flex items-center justify-center p-6 dark:bg-accent-100 rounded-[7px]"
    >
      <Image
        class="max-h-[100px] w-auto"
        src={Friend1}
        alt="Fur Focus - Portrety Zwierząt"
        inferSize={true}
      />
    </a>

    <div
      class="flex items-center justify-center p-6 dark:bg-accent-100 rounded-[7px]"
    >
      <a href="https://haudoyoufeel.pl/" target="_blank"
        ><Image
          class="max-h-[100px] w-auto"
          src={Friend2}
          alt="Fur Focus - Portrety Zwierząt"
          inferSize={true}
        /></a
      >
    </div>

    <div
      class="flex items-center justify-center p-6 dark:bg-accent-100 rounded-[7px]"
    >
      <Image
        class="max-h-[100px] w-auto"
        src={Friend3}
        alt="Fur Focus - Portrety Zwierząt"
        inferSize={true}
      />
    </div>

    <a href="https://mokrelapy.pl/" target="_blank"
      class="flex items-center justify-center p-6 dark:bg-accent-100 rounded-[7px]"
    >
      <Image
        class="max-h-[100px] w-auto"
        src={Friend4}
        alt="Mokre Łapy"
        inferSize={true}
      />
    </a>

    <a
      href="https://pieskolandia.pl/"
      target="_blank"
      class="flex items-center justify-center p-6 dark:bg-accent-100 rounded-[7px]"
    >
      <Image
        class="max-h-[45px] w-auto"
        src={Friend5}
        alt="Pieskolandia"
        inferSize={true}
      />
    </a>
  </div>
</div>
<!-- End Clients -->
