---
import Friend1 from "../assets/clients/furfocus.png";
import Friend2 from "../assets/clients/HDYF.png";
import Friend3 from "../assets/clients/dogoowo.png";

import { Image } from "astro:assets";
---

<!-- Clients -->
<div class="mx-auto">
  <!-- Title -->
  <div class="mx-auto text-center mb-10">
    <h2 class="text-base text-primary dark:text-accent-100">
      Współpracuję z ludźmi, którym zależy.
    </h2>
  </div>
  <!-- End Title -->

  <div
    class="flex flex-wrap justify-center gap-x-6 sm:gap-x-12 lg:gap-x-24"
  >
    <div class="flex items-center justify-center">
      <Image
        class="max-h-[100px] w-auto"
        src={Friend1}
        alt="Fur Focus - Portrety Zwierząt"
        inferSize={true}
      />
    </div>

    <div class="flex items-center justify-center">
      <a href="https://haudoyoufeel.pl/" target="_blank"><Image
        class="max-h-[100px] w-auto"
        src={Friend2}
        alt="Fur Focus - Portrety Zwierząt"
        inferSize={true}
      /></a>
    </div>

    <div class="flex items-center justify-center">
      <Image
        class="max-h-[100px] w-auto"
        src={Friend3}
        alt="Fur Focus - Portrety Zwierząt"
        inferSize={true}
      />
    </div>
  </div>
</div>
<!-- End Clients -->
