---
import Client1 from "../assets/clients/1.jpg";
import Client2 from "../assets/clients/2.jpg";
---

    <!-- Grid -->
    <div class="grid lg:grid-cols-2 gap-8 lg:gap-12">
        <div class="lg:col-span-1">
            <h2
                class="block text-xl font-heading font-bold text-secondary sm:text-xl lg:text-4xl lg:leading-tight dark:text-accent"
            >
                Moja duma – moi klienci
            </h2>
            <p class="mt-5 text-base text-primary dark:text-accent-100">
                To nie tylko psy, ale także ich opiekunowie, którzy wspólnie z czworonogami uczestniczą w procesie zmiany. Na zajęciach zdobywają wiedzę, uczą się lepiej rozumieć swojego pupila i budują z nim głębszą relację. Każdy sukces – mały i duży – to powód do dumy!
            </p>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Grid -->

    <div class="grid grid-cols-2 sm:grid-cols-4 gap-8">
        <div class="space-y-8">
            <img
                class="w-full h-auto object-cover rounded-[10px]"
                src={Client1.src}
                alt="New ALT Here"
            />
            <img
                class="w-full h-auto object-cover rounded-[10px]"
                src={Client2.src}
                alt="New ALT Here"
            />
            <img
                class="w-full h-auto object-cover rounded-[10px]"
                src={Client1.src}
                alt="New ALT Here"
            />
        </div>
        <div class="space-y-8">
            <img
                class="w-full h-auto object-cover rounded-[10px]"
                src={Client2.src}
                alt="New ALT Here"
            />
            <img
                class="w-full h-auto object-cover rounded-[10px]"
                src={Client1.src}
                alt="New ALT Here"
            />
        </div>
        <div class="space-y-8">
            <img
                class="w-full h-auto object-cover rounded-[10px]"
                src={Client1.src}
                alt="New ALT Here"
            />
            <img
                class="w-full h-auto object-cover rounded-[10px]"
                src={Client2.src}
                alt="New ALT Here"
            />
            <img
                class="w-full h-auto object-cover rounded-[10px]"
                src={Client1.src}
                alt="New ALT Here"
            />
        </div>
        <div class="space-y-2">
            <img
                class="w-full h-auto object-cover rounded-[10px]"
                src={Client2.src}
                alt="New ALT Here"
            />
            <img
                class="w-full h-auto object-cover rounded-[10px]"
                src={Client1.src}
                alt="New ALT Here"
            />
        </div>
    </div>
