---
import HelpCard from "../components/HelpCard.astro";
import Komunikacja from "../assets/komunikacja.jpg";
import Spacery from "../assets/spacery.jpg";
import Wyjazdy from "../assets/wyjazdy.jpg";
import { Image } from "astro:assets";
---

<section class="bg-primary py-20 dark:bg-dark-600/30" id="offer">
    <!-- Features -->
    <div
        class="container max-w-[1550px] mx-auto px-10 mx-auto grid grid-cols-1 gap-20"
    >
        <!-- Grid -->
        <div class="grid lg:grid-cols-2 gap-8 lg:gap-12">
            <div class="lg:col-span-1">
                <h2
                    class="block text-xl font-heading font-bold text-secondary-300 sm:text-xl lg:text-4xl lg:leading-tight dark:text-accent"
                >
                    W czym mogę Ci pomóc?
                </h2>
                <p class="mt-5 text-base text-accent-100 dark:text-accent-100">
                    Jestem pasjonatką pracy z psami – to nie tylko zawód, ale
                    przede wszystkim życiowa misja. Od ponad dwudziestu lat
                    pomagam psom z trudnymi zachowaniami oraz prowadzę
                    szkolenia, które opierają się na wzajemnym zrozumieniu i
                    szacunku.
                </p>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Grid -->

        <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-x-12 items-center"
        >
            <div class="relative w-3/4 origin-top-center mx-auto">
                <div
                    class="absolute z-20 rounded-t-full bg-accent w-[160px] h-[200px] top-0 right-0 rotate-180"
                >
                </div>
                <div class="absolute z-10 rounded-t-full bg-light-green w-[200px] h-[260px] -bottom-6 -left-6"></div>

                <Image
                    class="w-full aspect-3/4 object-cover rounded-t-full z-40 relative"
                    src={Komunikacja}
                    alt="Aleksanda Zawadzka-Glinka Behawiorystka Zwierząt Towarzyszących"
                    inferSize={true}
                    loading="eager"
                />
            </div>
            <div class="flex gap-10 flex-col">
                <h3
                    class="text-4xl font-heading font-semibold text-accent dark:text-accent-300 relative"
                >
                    Warsztaty komunikacji
                </h3>
                <p class="text-accent-100 dark:text-accent-100">
                    Rozwój technologii, cywilizacji i pogoń za pracą sprawia, że
                    ludzie zmuszeni są do życia w ciągłym biegu... Brak czasu na
                    podstawowe przyjemności i na zasłużoną dawkę relaksu może
                    czynić ludzi mniej uważnymi na sygnały wysyłane przez
                    najserdeczniejszych przyjaciół, jakimi są psy.
                </p>
                <p class="text-accent-100 dark:text-accent-100">
                    Psy, którym przyszło żyć w zagęszczonym ludzkim świecie.
                    Znaczne ograniczenie przestrzeni, nadmiar lub niedobór
                    bodźców, traumatyczne przeżycia, czy niemiłe doświadczenia z
                    przeszłości mogą odpowiadać za to, że pies prezentuje
                    problemowe zachowania z którymi boryka się wraz ze swoim
                    opiekunem.
                </p>
                <p class="text-accent-100 dark:text-accent-100">
                    Psy mówią o swoich problemach. Mówią nie używając głosu. Ich
                    ciało jest jak otwarta księga, którą można czytać godzinami.
                    I do tej lektury z całego serca zapraszam Ciebie i Twojego
                    psa.<br />
                    Podczas warsztatu porozmawiamy i zajmiemy się problemami, które
                    psy stwarzają opiekunom. Wspólnie stawimy im czoła, pamiętając
                    o tym, że nie zawsze problem widziany oczyma człowieka, jest
                    problemem z punktu widzenia psa. Przez dwa dni pracy praktycznej
                    będziemy zmieniać na lepsze Wasze relacje słuchając tego, co
                    mówią do nas psy. Komunikując się ze sobą możemy więcej! A gdy
                    po drugiej stronie smyczy stoi najlepszy przyjaciel, to wspólnie
                    z nim jesteśmy w stanie przenieść góry. Razem - ja, Ty i Twój
                    pies! Zapraszam serdecznie!
                </p>

                <a
                    href="mailto:zawadzkaglinka@gmail.com"
                    class="transition-all duration-500 text-base text-accent decoration-1 hover:text-accent-200 underline focus:underline font-medium dark:text-accent-300 underline-offset-8 group-hover:text-accent-200"
                >
                    Weź udział w warsztatach
                </a>
            </div>
        </div>

        <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-x-12 items-center"
        >
            <div class="relative w-3/4 origin-top-center mx-auto">
                <div
                    class="absolute z-20 rounded-t-full bg-accent w-[190px] h-[270px] top-0 right-0 rotate-0"
                >
                </div>
                <div class="absolute z-10 rounded-t-full bg-dust-pink w-[220px] h-[290px] bottom-0 left-0 rotate-180"></div>

                <Image
                    class="w-full aspect-3/4 object-cover rounded-b-full z-40 relative"
                    src={Wyjazdy}
                    alt="Aleksanda Zawadzka-Glinka Behawiorystka Zwierząt Towarzyszących"
                    inferSize={true}
                    loading="eager"
                />
            </div>
            <div class="flex gap-10 flex-col">
                <h3
                    class="text-4xl font-heading font-semibold text-accent dark:text-accent-300 relative"
                >
                    Zajęcia wyjazdowe
                </h3>
                <p class="text-accent-100 dark:text-accent-100">
                    tutaj opis dotyczący zajęć wyjazdowych. Możesz opisać, jakie
                    są cele tych zajęć, jakie umiejętności można zdobyć i
                    dlaczego warto wziąć w nich udział.
                </p>

                <a
                    href="mailto:zawadzkaglinka@gmail.com"
                    class="transition-all duration-500 text-base text-accent decoration-1 hover:text-accent-200 underline focus:underline font-medium dark:text-accent-300 underline-offset-8 group-hover:text-accent-200"
                >
                    Dowiedz się kiedy najbliższy wyjazd
                </a>
            </div>
        </div>

        <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-x-12 items-center"
        >
            <div class="relative w-3/4 origin-top-center mx-auto">
                <div
                    class="absolute z-20 rounded-t-full bg-accent w-[160px] h-[200px] top-0 right-0 rotate-180"
                >
                </div>
                <div class="absolute z-10 rounded-t-full bg-light-green w-[200px] h-[260px] -bottom-6 -left-6"></div>

                <Image
                    class="w-full aspect-3/4 object-cover rounded-t-full z-40 relative"
                    src={Spacery}
                    alt="Aleksanda Zawadzka-Glinka Behawiorystka Zwierząt Towarzyszących"
                    inferSize={true}
                    loading="eager"
                />
            </div>
            <div class="flex gap-10 flex-col">
                <h3
                    class="text-4xl font-heading font-semibold text-accent dark:text-accent-300 relative"
                >
                    Spacery socjalizacyjne
                </h3>
                <p class="text-accent-100 dark:text-accent-100">
                    tutaj opis dotyczący spacerów socjalizacyjnych. Możesz
                    opisać, jakie są cele tych spacerów, jakie umiejętności
                    można zdobyć i dlaczego warto wziąć w nich udział.
                </p>

                <a
                    href="mailto:zawadzkaglinka@gmail.com"
                    class="transition-all duration-500 text-base text-accent decoration-1 hover:text-accent-200 underline focus:underline font-medium dark:text-accent-300 underline-offset-8 group-hover:text-accent-200"
                >
                    Weź udział w spacerach
                </a>
            </div>
        </div>
    </div>
    <!-- End Features -->
</section>